* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: black;
  font-family: sans-serif;
  line-height: 1.4;
}
.producto {
  border: 2px solid black;
  width: 820px;
  margin: 50px auto;
}
.titulo-producto {
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  background-color: #f7f7f7;
  padding: 10px;
}
.price {
  font-size: 24px;
  /*
  float: left;
  margin-top: 8px;
  */
}
.free {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
  /*
  margin-bottom: 20px;
  float: right;

  margin-top: 20px;
   */
}
.detail-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 30px;
}

.detail-list {
  list-style: square;
  margin-left: 20px;
}
.detail-list li {
  margin-bottom: 10px;
}

.addCad {
  color: white;
  width: 100%;
  background-color: black;
  border-top: 2px solid black;
  font-size: 20px;
  text-transform: uppercase;
  padding: 15px;
}
.addCad:hover {
  color: black;
  background-color: white;

  font-size: 20px;
  text-transform: uppercase;
}
.more-info:link,
.more-info:visited {
  color: black;
  margin-bottom: 30px;
}
.more-info:hover,
.more-info:active {
  color: black;
}
.foot {
  border: 2px none black;
  margin: 50px auto;
  width: 820px;
}
.return {
  color: white;
  width: 100%;
  background-color: black;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
}
.return:hover {
  color: black;
  background-color: white;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
}
.titulo-producto {
  position: relative;
}
.titulo-producto::before {
  content: "SALE";
  letter-spacing: 2px;
  background-color: #ff0000;
  color: #ffffff;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -20px;
  left: -30px;
}

.Color {
  background-color: #000000;
  width: 20px;
  height: 20px;
  /*
  display: inline-block;
  margin-right: 10px;
  margin-top: 30px;
  padding: 5px;
  */
}
.color-azul {
  background-color: #0000ff;
}
.color-rojo {
  background-color: #ff0000;
}
.color-amarillo {
  background-color: #ffff00;
}
.color-verde {
  background-color: #008000;
}
.color-cafe {
  background-color: #a52a2a;
}
/* FLOAT */
.description {
  margin-top: 20px;
}

.details {
  /*
  width: 240px;
  float: right;
  margin-left: 40px;
  */

  flex: 1;
}

.img-container {
  /*float: left;
  width: 250px;
  padding-top: 20px;
  */
}

/* 

.cardd {
  clear: both;
}
.description-text {
  clear: both;
  margin-bottom: 10px;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
*/
/* FLEXBOX */
.clearfix {
  display: flex;
  gap: 40px;
}
.description {
  align-items: center;
  flex: 1;
}
.colors {
  display: flex;
  gap: 10px;
  /*
  align-items: center;
  margin-top: 20px;
  */
}
.venta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
